In [8]:
import pandas as pd

In [9]:
fd = pd.read_csv('/Users/himms/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [56]:
fd.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
fp=fd.groupby('Element')

In [12]:
fp.get_group('Processing')[['Y2017']].sum()

Y2017    292836.0
dtype: float64

In [17]:
fd.corr(method='pearson')['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [65]:
md = fd["Area"]=="Madagascar"

In [45]:
md.sum()

1439

In [50]:
pr = fd["Element"]=="Protein supply quantity (g/capita/day)"

In [51]:
pr.sum()

5023

In [57]:
yd = fd["Y2015"]

In [75]:
yd.sum()

8032340.2299999995

In [78]:
mdpro = md & pr

In [81]:
mdpro.sum()

111